<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <ul th:each="room : ${rooms}">
    <p>numer</p>  <li th:text="${room.id}"></li>
    <p>opis</p>  <li th:text="${room.description}"></li>
    <p>dla ilu gawiedzi</p>  <li th:text="${room.forHowManyPeople}"></li>
      <a th:href="@{/summary(roomId=${room.id})}">Zarezerwuj!</a>
  </ul>

<!--  <a href="#" th:href="@{/summary}" >Przejdź do podsumowania i zarezerwuj</a>-->

</body>
</html>