<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Pokoj do rezerwacji</p>
    <p th:text="${room.forHowManyPeople}"></p>
    <p th:text="${room.description}"></p>
    <p th:text="${room.pricePerPeron}"></p>

    <form action="#" th:action="@{/summary/realize}" method="post" th:object="${reservation}">
        <p>Imię: <input type="text" required th:field="*{firstName}"></p>
        <p>Nazwisko: <input type="text" required th:field="*{lastName}" ></p>
        <p>Numer fona: <input type="text" required th:field="*{phoneNumber}"></p>
        <p>Ilość osób: <input type="number" required th:field="*{howManyPeople}"></p>
        <p>Data początku rezerwacji: <input type="date" required th:field="*{reservationDayStart}" value="2020-02-25" min="2020-01-01" max="2020-12-31"></p>
        <p>Data końca rezerwacji: <input type="date" required th:field="*{reservationDayEnd}" value="2020-02-25" min="2020-01-01" max="2020-12-31"></p>
            <div th:object="${reservationDetails}">
                <p>email: <input type="text" required th:field="*{email}"></p>
                <p>dodatkowe info: <input type="text" required th:field="*{extraInformation}"></p>
            </div>
        <p><input type="submit" value="Zamów"></p>
    </form>

</body>
</html>